<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
    </head>
    <body>
            {% block oxygen_datagrid_content %}
            {% endblock oxygen_datagrid_content %}
        </div>
    </body>
</html>
